:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  body {
    font-family: 'VT323', monospace;
    color: rgb(58, 116, 183);
    background-color: black;
}

#welcome-area {
    text-align: center;
    position: fixed; /* or absolute */
    top: 30%;
    left: 17%;
    font-size: 4em;
}

#welcome-text {
    color: #6ccbf6; 
    font-size: 1em; 
    filter: drop-shadow(2px 2px 8px #6ccbf6); 
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
}

.neon-button {
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    color: var(--clr-neon);
}

.neon-game-button {
    font-size: 3em;
    color: var(--clr-neon);
    display: inline-block;
    cursor: pointer;
}

h1 {
    font-family: 'VT323', monospace;
    color: rgb(202, 44, 44);
}


#text-content {
    border: dotted darkblue;
}



.hide {
    display: none;
}

#cells {
    background-color: red;
    width: 30em;
    height: 30em;
    display: flex;
    flex-wrap: wrap;
}

#cells >div {
    width: 33%;
    height: 33%;
display: block;}

.cell {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 5em;
}