body {
    font-family: 'VT323', monospace;
    color: rgb(58, 116, 183);
    background-color: black;
    margin: 0;
    position: relative;
    width:100%;
    text-align: center;
}

#welcome-area {
    background-color: black;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 90vw;
    font-size: 6vh;

}

#welcome-text {
    color: #6ccbf6; 
    filter: drop-shadow(2px 2px 8px #6ccbf6); 
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
}

.text-center {
    font-family: 'VT323', monospace;
    color: #FF9933;
    font-size: 4vw;
    position: absolute;
    top: 0vw;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
}

#game-area {
    position: relative;
}

#start-button {
    position: absolute;
    right: 4vw;
    top: 3vw;
}

#playerNames {
    position: absolute;
    left: 4vw;
    top: 3vw;
    font-size: 4vw;
    text-align: left;

}

#player-x, #player-o {
    width: 5vw;
    height: 1vw;
    font-size: vw;
}


#board-area {
	background-color:#16dfee;
	width:35vw;
	height:35vw;
	position:relative;
    margin: auto;
    top: 15vw;
}

.cells {
    position:absolute;
	background-color:black;
    width:15vw;
	height:15vw;
}

.a1{
	left: 0vw;
	top: 0vw;
}

.a2{
	left: 16vw;
	top: 0vw;
}

.a3{
	right: 0vw;
	top: 0vw;
}

.b1{
	left: 0vw;
	top: 16vw;
}

.b2{
	left: 16vw;
	top: 16vw;
}

.b3{
	right: 0vw;
	top: 16vw;
}

.c1{
	left: 0vw;
	bottom: 0vw;
}

.c2{
	left: 16vw;
	bottom: 0vw;
}

.c3{
	right: 0vw;
	bottom: 0vw;
}

.inp{
	width: 100%;
	height: 100%;
	color: orange;
	font-size: 15vw;
	background-color: black;
	border: none;
	outline: none;
	text-align: center;
    padding: 0;
    
}

@keyframes typing {
  from {
    width: 3em
  }
}

@keyframes blink {
    from { border-color: transparent }
    to { border-color: orange; }
}

.neon-button {
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    color: #FF9933;
}

.neon-game-button {
    font-size: 3vw;
    color: #FF9933;
    display: inline-block;
    cursor: pointer;
 
}



.hide {
    display: none;
}

